*

#-------------------------------------------------------------------------------
# Git

!.gitignore
!.gitconfig

#-------------------------------------------------------------------------------
# General Stuff

!.zshrc

!.config/

!README.md

#-------------------------------------------------------------------------------
# Kitty

!.config/kitty/
!.config/kitty/kitty.conf

#-------------------------------------------------------------------------------
# Vim

!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/vscode-init.vim
!.ideavimrc

#-------------------------------------------------------------------------------
# VS Code

!.config/Code/
!.config/Code/User/
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json

#-------------------------------------------------------------------------------
# Window Tiling

!.config/yabai/
!.config/yabai/yabairc

!.config/skhd/
!.config/skhd/skhdrc

#-------------------------------------------------------------------------------
# Others

!.config/mpv/
!.config/mpv/*

!.config/zathura/
!.config/zathura/*

#-------------------------------------------------------------------------------
