[user]
	name = Philippe Fanaro
	email = philippefanaro@gmail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	credentialStore = gpg
	helper = cache
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[alias]
	cmp = "!f() { git add -A && git commit -m \"$@\" && git push;  }; f"
	cm = "!f() { git add -A && git commit -m \"$@\";  }; f"
[core]
	editor = vim
[credential "https://dev.azure.com"]
	useHttpPath = true
